[Unit]
Description=BBG Telegram Media Server
After=network.target

[Service]
ExecStart=/usr/bin/bbg-telegram-media-server
EnvironmentFile=/etc/bbg-telegram-media-server/.env
Restart=always


[Install]
WantedBy=multi-user.target
