[Unit]
Description=BBG Telegram Media Server
After=network.target

[Service]
ExecStart=/usr/bin/bbg_telegram_media_server
EnvironmentFile=/etc/bbg_telegram_media_server/.env
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
