[Unit]
Description=Telegram Media Server
After=network-online.target qbittorrent-nox.service
Wants=network-online.target qbittorrent-nox.service

[Service]
User=tms
Group=tms
ExecStart=/usr/local/bin/telegram-media-server
EnvironmentFile=/etc/telegram-media-server/.env
Restart=always


[Install]
WantedBy=multi-user.target
