port={{ minidlna_port }}
media_dir=V,{{ tms_movie_path_effective }}
friendly_name={{ minidlna_friendly_name }}
db_dir=/var/cache/minidlna
log_dir=/var/log
inotify=yes
album_art_names=Cover.jpg/cover.jpg/AlbumArtSmall.jpg/albumartsmall.jpg/AlbumArt.jpg/albumart.jpg/Folder.jpg/folder.jpg
enable_tivo=no
strict_dlna=no
notify_interval=895
serial=12345678
model_number=1
