OPENCLAW_HOME={{ openclaw_home | quote }}
OPENCLAW_STATE_DIR={{ openclaw_state_dir | quote }}
OPENCLAW_CONFIG_PATH={{ openclaw_config_path | quote }}
{% if openclaw_api_key_effective | length > 0 %}
{{ openclaw_api_key_env_effective }}={{ openclaw_api_key_effective | quote }}
{% endif %}
