[Unit]
Description=Telegram Media Server
After=network-online.target {{ qbittorrent_service_name }}.service
Wants=network-online.target {{ qbittorrent_service_name }}.service
{% if tms_vpn_enabled | default(false) | bool %}
After=telegram-media-server-vpn.service
Wants=telegram-media-server-vpn.service
{% endif %}

[Service]
User={{ tms_user }}
Group={{ tms_group }}
ExecStart={{ tms_install_dir }}/{{ tms_binary_name }}
EnvironmentFile={{ tms_config_dir }}/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
